{% extends 'assignment/base.html' %}

{% block content %}
<h1>Site details - {{site.name}} Site</h1>
    <table class="table">
        <thead>
            <td><strong>Date</strong></td>
            <td><strong>A Value</strong></td>
            <td><strong>B Value</strong></td>
        </thead>
        <tbody>
        {% for row in entries %}
            <tr class="dataentry-row">
                <td>{{ row.date }}</td>
                <td>{{ row.a_value|floatformat:2 }}</td>
                <td>{{ row.b_value|floatformat:2 }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
