{% extends 'assignment/base.html' %}

{% block content %}
<h1>Summary</h1>
    <div>
        <a href="/summary"
           class="btn btn-primary
                  {% if active == "summary-sum" %}active{% endif %}">
            Sum
        </a>
        <a href="/summary-average"
           class="btn btn-primary
                  {% if active == "summary-average" %}active{% endif %}">
            Average
        </a>
    </div>
    <table class="table">
        <thead>
            <td><strong>Site</strong></td>
            <td><strong>A Value</strong></td>
            <td><strong>B Value</strong></td>
        </thead>
        <tbody>
        {% for row in rows %}
            <tr class=site-row">
                <td>{{row.site}} Site</td>
                <td>{{row.a_value|floatformat:2}}</td>
                <td>{{row.b_value|floatformat:2}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
